# Compilation & build files
target/
bin/
build/
dist/
nbbuild/
nbdist/
gen/
tmp/

# Eclipse Java Development Tools
.metadata
.project
.classpath
.settings/
.loadpath
local.properties

# Java annotation processor (APT)
.factorypath

# netbeans
nbproject/
buid.xml

# IntelliJ
*.iml
*.ipr
*.iws
.idea/
out/

# Mac 
.DS_Store

# Debug files
*~
*.log
