/*
 * Switch Button 
 */
.onoffswitch {
    position: relative;
    width: 35px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.onoffswitch-checkbox {
    display: none;
}

.onoffswitch-label {
    display: block;
    overflow: hidden;
    cursor: pointer;
    height: 20px;
    padding: 0;
    line-height: 20px;
    border: 2px solid #CCCCCC;
    border-radius: 20px;
    background-color: #FFFFFF;
    transition: background-color 0.3s ease-in;
}

.onoffswitch-label:before {
    content: "";
    display: block;
    width: 20px;
    margin: 0px;
    background: #FFFFFF;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 13px;
    border: 2px solid #CCCCCC;
    border-radius: 20px;
    transition: all 0.3s ease-in 0s;
}

.onoffswitch-checkbox:checked+.onoffswitch-label {
    background-color: #49E845;
}

.onoffswitch-checkbox:checked+.onoffswitch-label, .onoffswitch-checkbox:checked+.onoffswitch-label:before {
    border-color: #49E845;
}

.onoffswitch-checkbox:checked+.onoffswitch-label:before {
    right: 0px;
}

/*
 * Loading span
 */
.glyphicon-refresh-animate {
    -animation: spin .7s infinite linear;
    -webkit-animation: spin2 .7s infinite linear;
}

@
-webkit-keyframes spin2 {from { -webkit-transform:rotate(0deg);
    
}

to {
    -webkit-transform: rotate(360deg);
}

}

/*
 * Profile style
 */
.profile {
    margin: 20px 0;
}

.profile-sidebar {
    padding: 20px 0 20px 0;
    background: #fff;
}

.profile-pic img {
    float: none;
    margin: 0 auto;
    width: 50%;
    height: 50%;
    -webkit-border-radius: 50% !important;
    -moz-border-radius: 50% !important;
    border-radius: 50% !important;
}

.profile-main {
    text-align: center;
    margin-top: 20px;
}

.profile-main-title {
    color: #5a7391;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 7px;
}

.profile-main-subtitle {
    text-transform: uppercase;
    color: #5b9bd1;
    font-size: 12px;
    font-weight: 600;
    margin-bottom: 15px;
}

.profile-actions {
    text-align: center;
    margin-top: 10px;
}

.profile-actions .btn {
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 600;
    padding: 6px 15px;
    margin-right: 5px;
}

.profile-actions .btn:last-child {
    margin-right: 0px;
}

.profile-menu {
    margin-top: 30px;
}

.profile-menu ul li {
    border-bottom: 1px solid #f0f4f7;
}

.profile-menu ul li:last-child {
    border-bottom: none;
}

.profile-menu ul li a {
    color: #93a3b5;
    font-size: 14px;
    font-weight: 400;
}

.profile-menu ul li a i {
    margin-right: 8px;
    font-size: 14px;
}

.profile-menu ul li a:hover {
    background-color: #fafcfd;
    color: #5b9bd1;
}

.profile-menu ul li.active {
    border-bottom: none;
}

.profile-menu ul li.active a {
    color: #5b9bd1;
    background-color: #f6f9fb;
    border-left: 2px solid #5b9bd1;
    margin-left: -2px;
}

.profile-content {
    padding: 50px;
    background: #fff;
    min-height: 460px;
}

@media screen and (max-width: 991px) {
    .profile-content {
        margin-top: 30px;
    }
}
/*
 * Service Types menu
 */
.select-menu {
    position: relative;
}

button.select-menu-button {
    display: inline-block;
    padding: 12px 15px 12px 15px;
    margin: 0;
    font-size: 14px;
    line-height: 17px;
    border: 1px solid #d8d8d8;
    border-radius: 3px 3px 0 0;
}

.select-menu-modal {
    width: 300px;
    right: 0px;
    position: absolute;
    z-index: 30;
    color: #666;
    background-color: #fff;
    border: 1px solid rgba(200, 200, 200, 0.4);
    border-radius: 3px;
    box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
    background-color: #fff;
}

.select-menu-item {
    display: block;
    padding: 8px 8px 8px 30px;
    overflow: hidden;
    color: inherit;
    cursor: pointer;
    border-bottom: 1px solid #eee;
}

.select-menu-item:hover {
    background-color: #f4f4f4;
}