.nav>li.bar-li {
    display: inline-block;
}

.dialog {
    position: fixed;
    display: none;
    z-index: 10;
}

/* Notifications */
.notifications-content {
    width: 300px;
    min-height: 100px;
    margin-top: 20px;
    padding-top: 0;
    background-color: #fff;
    color: #444;
    border-radius: 2px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .4);
    font-size: 12px;
}

.notifications-title {
    padding: 2px 10px;
    background-color: #908674;
    color: #fff;
    min-height: 40px;
    font-weight: bold;
}

.item-notification-content h5 {
    font-weight: bold;
}

.notifications-content > .item-notification-content > a {
    color: #444;
    padding: 7px 10px;
    display: block;
    border-bottom: 1px solid #f4f4f4;
    cursor: pointer;
}
.notifications-content > .footer > a {
    color: #444;
    padding: 7px 10px;
    display: block;
    text-align: center;
    cursor: pointer;
}
.notifications-content > .footer > a:hover, .notifications-content > .item-notification-content > a:hover {
    background-color: #F2F2F2;
}

/*
 * Search bar
 */
.search-bar {
    margin-top: 5px;
}

.search-bar .input-group-addon {
    background: white !important;
}

.search-bar .form-control {
    border-right: 0;
    box-shadow: 0 0 0;
    border-color: #ccc;
}

.search-bar button {
    border: 0;
    background: transparent;
}

.autocomplete-suggestions {
    background: #FFF;
    overflow: auto;
    border-color: #ccc;
    border-color: rgba(0, 0, 0, 0.2);
    border-style: outset;
    border-width: 2px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.autocomplete-suggestion {
    padding: 5px 10px;
    white-space: nowrap;
    overflow: hidden;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #E8E8E8;
}

.autocomplete-selected {
    background: #F0F0F0;
}

.autocomplete-suggestions strong {
    font-weight: normal;
    color: #3399FF;
}
