form em {
	color: #d94850;
}

.form-signin {
	padding: 15px;
	margin: 0 auto 20px;
	text-align: left;
}

.reduce {
	max-width: 330px;
}

.form-signin .form-signin-heading, .form-signin .checkbox {
	margin-bottom: 10px;
}

.form-signin .checkbox {
	font-weight: normal;
}

.form-signin label {
	padding-right: 5px;
}

.form-signin i {
	text-shadow: none;
}

.form-signin .form-control {
	position: relative;
	height: auto;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 10px;
	font-size: 16px;
}

.form-signin .form-control:focus {
	z-index: 2;
	text-align: left
}

.form-signin input[type="email"] {
	margin-bottom: -1px;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

.form-box {
	max-width: 600px;
	margin: 0 auto;
	background-color: #E3FCFF;
	box-shadow: 5px 5px 10px #804A20;
	-webkit-border-radius: 20px;
	-webkit-border-top-right-radius: 10px;
	-moz-border-radius: 20px;
	-moz-border-radius-topright: 10px;
	border-radius: 20px;
	border-top-right-radius: 10px;
}

.form-box>button {
	min-width: 110px;
	height: 40px;
	font-size: 1.5rem;
	font-weight: 700;
	font-family: inherit;
	border: 0;
}

.form-box>button.green {
	background: #5FC660;
	color: #fff;
}

.form-box>button.green:hover {
	background: #85d385;
}

.login-tip {
	margin-bottom: 20px;
	overflow: hidden;
	display: inline-block;
}

.form-validation-icon {
	float: right;
	position: absolute;
	padding: 10px;
	color: #a94442;
}

.has-error {
	border-color: #a94442;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}

.input-group input{
	margin-bottom: 0px !important;
}

label.error {
	position: fixed;
}