<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

  <head>
    <title th:text="#{branch.page.title(${role.branch.company.tradeName})}">
      buSy
    </title>

    <meta charset="utf-8"></meta>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"></meta>
    <meta name="viewport" content="width=device-width, initial-scale=1"></meta>
    <meta name="author" content="malkomich"></meta>
    <meta name="description" content="Branch Page"></meta>

    <link rel="icon" th:href="@{/favicon.ico}"></link>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"></link>
    <link th:href="@{/css/cover-logged.css}" rel="stylesheet"></link>
    <link th:href="@{/css/busy-content.css}" rel="stylesheet"></link>
    <link th:href="@{/css/busy-components.css}" rel="stylesheet"></link>
    <link th:href="@{/css/calendar.min.css}" rel="stylesheet"></link>
    <link th:href="@{/css/forms.css}" rel="stylesheet"></link>
    <link th:href="@{/css/multiple-select.css}" rel="stylesheet"/>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

  </head>

  <body>
    <div th:include="fragments/header"></div>

    <div class="container">
      <div class="content">

        <!-- Section selector -->
        <div class="row">
          <div class="col-sm-3 col-xs-3">
            <button id="select-role" class="btn btn-default btn-lg collapse-switch" type="button" data-toggle="collapse" data-target="#role-menu"
              aria-expanded="false" aria-controls="#role-menu">
              <span th:unless="${role}" th:text="${username}"></span>
              <span th:if="${role}" th:text="${role.branch.company.tradeName}"></span>
            </button>
            <div class="role-select-menu collapse" id="role-menu">
              <div class="role-select-menu-list">
                <a href="/" class="role-select-menu-item">
                  <span class="role-select-menu-item-text" th:text="${username}"></span>
                </a>
                <div th:each="roleItem : ${roleList}">
                  <a th:href="@{/schedule/{roleId}(roleId=${roleItem.id})}" class="role-select-menu-item">
                    <span class="role-select-menu-item-text" th:text="${roleItem.branch.company.tradeName}"></span>
                  </a>
                </div>
              </div>
            </div>
            <!-- .role-select-menu -->
          </div>
          <!-- .col -->
          <div class="col-xs-9 pull-right">
            <div class="table-list-filters pull-right">
              <div class="select-menu pull-left">
                <button id="service-types-button" class="btn btn-default btn-lg" href="#service-types-collapse" data-toggle="collapse" aria-expanded="false"
                  aria-controls="service-types-collapse">
                  <span th:text="#{menu.filters.service-type.title}"></span>
                  <span class="glyphicon glyphicon-triangle-bottom"></span>
                </button>
                <div class="collapse select-menu-modal" id="service-types-collapse">
                  <div th:include="service-types"></div>
                </div>
                <!-- .select-menu-modal -->
              </div>
              <!-- .select-menu -->
            </div>
            <!-- .table-list-filters -->
          </div>
          <!-- .col -->
        </div>
        <!-- .row -->

        <div th:include="calendar"></div>

      </div>
      <!-- .content -->
      <div th:include="fragments/footer"></div>
    </div>
    <!-- container -->

    <!-- Calendar Events Modal -->
    <div class="modal fade" id="events-modal">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h3>Event</h3>
          </div>
          <div class="modal-body" style="height: 400px"></div>
          <div class="modal-footer">
            <a href="#" data-dismiss="modal" class="btn" th:text="#{modal.close}"></a>
          </div>
        </div>
      </div>
    </div>

    <!-- Message Modal -->
    <div class="modal fade" id="messageModal" tabindex="-1" role="dialog">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content" id="infoMessage">
          <div class="modal-body"></div>
        </div>
      </div>
    </div>

    <!-- Modal Form -->
    <div class="modal fade" id="modalForm" tabindex="-1" role="dialog">
      <div class="modal-dialog modal-lg" role="document">

        <div class="modal-content"></div>
        <!-- .modal-content -->
      </div>
      <!-- .modal-dialog -->
    </div>

    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script type="text/javascript" th:inline="javascript">
      const
        EVENTS_PATH = "/get_month_services",
        DBL_CLICK_PATH = "/service_form";

      /*<![CDATA[*/
      var message = /*[[${messageFromController}]]*/ null;
      /*]]>*/
    </script>
    <script type="text/javascript" th:src="@{/js/jquery.autocomplete.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/busy-logic.js}"></script>
  </body>

</html>
