<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

  <head>
    <title th:text="#{main.page.title}"></title>

    <meta charset="utf-8"></meta>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"></meta>
    <meta name="viewport" content="width=device-width, initial-scale=1"></meta>
    <meta name="author" content="malkomich"></meta>
    <meta name="description" content="Main Page"></meta>

    <link rel="icon" th:href="@{/favicon.ico}"></link>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"></link>
    <link th:href="@{/css/cover-logged.css}" rel="stylesheet"></link>
    <link th:href="@{/css/busy-content.css}" rel="stylesheet"></link>

  </head>

  <body>
    <div th:include="fragments/header"></div>
    <div class="container">
      <div class="content">
        <div class="row">
          <a href="new_company" id="create-company" th:if="${#lists.isEmpty(roleList)}">
            <div class="col-sm-3 col-xs-3 block-button">
              <i class="glyphicon glyphicon-plus"></i> [[#{new_company.block-button}]]
            </div>
          </a>
          <div class="col-sm-3 col-xs-3" th:unless="${#lists.isEmpty(roleList)}">
            <button id="select-role" class="btn btn-default btn-lg collapse-switch" type="button" data-toggle="collapse" data-target="#role-menu"
              aria-expanded="false" aria-controls="#role-menu">
              <span th:text="${username}"></span>
            </button>
            <div class="role-select-menu collapse" id="role-menu">
              <div class="role-select-menu-list">
                <a href="#" class="role-select-menu-item"> <span class="role-select-menu-item-text" th:text="${username}"></span>
                </a>
                <a href="/schedule/${roleItem.id}" class="role-select-menu-item" th:each="roleItem : ${roleList}">
                  <span class="role-select-menu-item-text" th:text="${roleItem.branch.company.tradeName}"></span>
                </a>
              </div>
            </div>
          </div>
        </div>
        <!-- row -->
      </div>

      <div th:include="fragments/footer"></div>

    </div>
    <!-- container -->

    <!-- Message Modal -->
    <div class="modal fade bs-example-modal-lg" id="messageModal" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content" id="infoMessage">
          <div class="modal-body"></div>
        </div>
      </div>
    </div>

    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <script type="text/javascript">
      /*<![CDATA[*/
      var message = /*[[${messageFromController}]]*/ null;
      /*]]>*/

    </script>
    <script type="text/javascript" th:src="@{/js/jquery.autocomplete.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/busy-logic.js}"></script>

  </body>

</html>
