<form class="service-form" id="serviceForm" action="javascript:saveServices()" th:object="${serviceForm}" method="POST">

  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title">
        <input type="hidden" th:field="*{date}"></input>
        <label th:text="${#dates.format(serviceForm.date, 'dd MMMM yyyy')}"></label>
    </h4>
  </div>

  <div class="modal-body">

    <div class="row service-row" th:each="service, status : ${serviceForm.services}">

      <div class="col-xs-3 form-group">
        <div class="row">

          <div class="col-xs-10">
            <div class="row">
              <select th:field="*{services[__${status.index}__].serviceType}" tabindex="1" class="form-control input-sm service-type" data-toggle="tooltip"
                data-placement="left" th:errorclass="has-error" th:title="#{schedule.service.tooltip.service_type}">
                <option value="" th:label="#{schedule.service.service_type.select}"></option>
                <option th:each="sType : ${serviceTypes}" th:value="${sType.id}" th:text="${sType}" th:attr="duration=${sType.duration}"></option>
              </select>
            </div>
            <!-- .row (SERVICE TYPE) -->

            <div class="row">
              <select th:field="*{services[__${status.index}__].repetitionType}" tabindex="4" class="form-control input-sm service-repetition-type"
                data-toggle="tooltip" data-placement="left" th:title="#{schedule.service.tooltip.repetition_type}">
                <option th:each="rType : ${repetitionTypes}" th:value="${rType}" th:text="#{${rType.msgCode}}"></option>
              </select>
              <span id="rep-date-error" th:each="err : ${#fields.errors('services[__${status.index}__].repetitionType')}" class="error fs-xs"
                th:text="${err}"></span>
            </div>
            <!-- .row (REPETITION) -->
          </div>
        </div>

      </div>
      <!-- .form-group (SERVICE TYPE & REPETITION) -->

      <div class="col-xs-9 form-group">
        <div class="row time-slot" th:each="timeSlot, timeStatus : ${service.timeSlots}">

          <div class="col-xs-1">
            <span class="glyphicon glyphicon-time center-v"></span>
          </div>
          <!-- .col (ICON) -->

          <div class="col-xs-3">
            <div class="row">
              <input th:field="*{services[__${status.index}__].timeSlots[__${timeStatus.index}__].startTime}" type="text" tabindex="2" class="form-control input-sm service-start-time"
                data-toggle="tooltip" data-placement="top" th:errorclass="has-error" th:title="#{schedule.service.tooltip.start_time}" th:placeholder="#{schedule.service.start_time.placeholder}"></input>
            </div>
          </div>
          <!-- .col (START TIME) -->

          <div class="col-xs-3">
            <div class="row">
              <input type="text" tabindex="-1" class="form-control input-sm service-end-time" readonly="true" data-toggle="tooltip" data-placement="top"
                th:title="#{schedule.service.tooltip.end_time}"></input>
            </div>
          </div>
          <!-- .col (END TIME) -->

          <div class="col-xs-5" data-toggle="tooltip" data-placement="top" th:title="#{schedule.service.tooltip.roles}">
            <div class="row">
              <select th:field="*{services[__${status.index}__].timeSlots[__${timeStatus.index}__].schedules}" multiple="multiple" class="input-sm no-padding roles-select" th:errorclass="has-error" tabindex="3">
                <option th:each="branchRole : ${branchRoles}" th:value="${branchRole.key}" th:text="${branchRole.value}"></option>
              </select>
            </div>
          </div>
          <!-- .col (ROLES) -->

        </div>
        <!-- .row (TIME SLOT) -->

        <div class="row">
          <div class="col-xs-1">
            <a href="#" data-toggle="tooltip" data-placement="right" th:title="#{schedule.service.button.new_timeslot}">
              <span class="glyphicon glyphicon-plus darkseagreen add_timeslot"></span>
            </a>
          </div>
        </div>

      </div>
      <!-- .form-group -->
    </div>
    <!-- .service-row -->

    <div class="row">
      <div class="col-xs-3 form-group">
        <button href="javascript:newService()" class="btn btn-primary service-add">
          <span class="glyphicon glyphicon-plus"></span>
          <span th:text="#{schedule.service.button.new_service}"></span>
        </button>
      </div>
    </div>

  </div>
  <!-- .modal-body -->

  <div class="modal-footer">
    <div class="col-xs-6">
      <span th:each="err : ${#fields.errors()}" class="error fs-xs pull-left" th:text="${err}" />
    </div>
    <div class="col-xs-6">
      <button type="button" class="btn btn-default" data-dismiss="modal" th:text="#{modal.close}"></button>
      <button id="submit" type="submit" class="btn btn-success" tabindex="6" th:text="#{form.save}"></button>
    </div>
  </div>
</form>

<script type="text/javascript" th:src="@{/js/forms.js}"></script>
<script type="text/javascript" th:src="@{/js/moment.js}"></script>
<script type="text/javascript" th:src="@{/js/bootstrap-timepicker.js}"></script>
<script type="text/javascript" th:src="@{/js/bootstrap-datepicker.js}"></script>
<script th:src="@{/js/multiple-select.js}"></script>
<script th:inline="javascript">
/*<![CDATA[*/
  var placeholder = /*[[#{schedule.service.roles.dropdown}]]*/ "Add worker";
  var txtSelectAll = /*[[#{schedule.service.roles.select_all}]]*/ "Select All";
  var txtSelectedAll = /*[[#{schedule.service.roles.all_selected}]]*/ "All selected";
/*]]>*/
</script>
<script type="text/javascript" th:src="@{/js/services.js}"></script>
