<form class="service-type-form" id="serviceTypeForm" action="javascript:saveServiceType()" th:object="${serviceTypeForm}"
  method="POST">
  <div class="modal-body">

      <div class="row">
        <div class="col-sm-12 form-group">
          <input th:field="*{name}" id="name" tabindex="1" class="form-control mandatory" th:placeholder="#{name.placeholder}" th:errorclass="has-error"></input>
          <span class="mandatory-mark glyphicon glyphicon-asterisk error"></span>
        </div>
      </div>
      <!-- .row (NAME) -->

      <div class="row">
        <div class="form-group col-sm-12">
          <input th:field="*{description}" id="description" tabindex="2" class="form-control" th:placeholder="#{description.placeholder}"></input>
        </div>
      </div>
      <!-- .row (DESCRIPTION) -->

      <div class="row">
        <div class="col-sm-6 form-group">
          <label for="maxBookingsPerRole" th:text="#{bookings_per_role.label} + ':'"></label>
          <input th:field="*{maxBookingsPerRole}" id="maxBookingsPerRole" tabindex="3" type="number" min="1" step="1" class="form-control"
            th:placeholder="#{bookings_per_role.placeholder}"></input>
        </div>
        <div class="col-sm-6 form-group">
          <label for="duration" th:text="#{duration.label} + ':'"></label>
          <input th:field="*{duration}" id="duration" tabindex="4" type="number" min="5" step="1" class="form-control" th:placeholder="#{duration.placeholder}"></input>
        </div>
      </div>
      <!-- .row (MAX. BOOKINGS & DURATION) -->

      <input th:field="*{id}" hidden="true" />
  </div>
  <!-- .modal-body -->

  <div class="modal-footer">
    <div class="col-xs-6">
      <div class="row" th:each="err : ${#fields.errors()}">
        <span  class="error fs-xs pull-left" th:text="${err}" />
      </div>
    </div>
    <div class="col-xs-6">
      <button type="button" class="btn btn-default" data-dismiss="modal" th:text="#{modal.close}"></button>
      <button id="submit" type="submit" class="btn btn-success" tabindex="5" th:text="#{form.save}"></button>
    </div>
  </div>
  <!-- .modal-footer -->
</form>

<script type="text/javascript" th:src="@{/js/forms.js}"></script>
