<form class="service-form" id="serviceForm" action="javascript:saveServices()" th:object="${serviceForm}" method="POST">

  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title">
        <input type="hidden" th:field="*{date}"></input>
        <label th:text="${#dates.format(serviceForm.date, 'dd MMMM yyyy')}"></label>
    </h4>
  </div>

  <div class="modal-body">

    <div class="row service-row" th:each="service, status : ${serviceForm.services}">

      <div class="col-xs-3 form-group">
        <div class="row">
          <div class="col-xs-4">
            <span class="glyphicon glyphicon-time center-v"></span>
          </div>
          <div class="col-xs-8">
            <div class="row">
              <input th:field="*{services[__${status.index}__].startTime}" id="service-start-time" type="text" tabindex="1" class="form-control input-sm"
                data-toggle="tooltip" data-placement="top" th:title="#{schedule.service.tooltip.start_time}" th:placeholder="#{schedule.service.start_time.placeholder}"></input>
              <span th:each="err : ${#fields.errors('services[__${status.index}__].startTime')}" class="error fs-xs" th:text="${err}"></span>
            </div>
            <div class="row invisible">
              <input id="service-end-time" type="text" tabindex="-1" class="form-control input-sm" readonly="true" data-toggle="tooltip" data-placement="left"
                th:title="#{schedule.service.tooltip.end_time}"></input>
            </div>
          </div>
        </div>
      </div>
      <!-- .form-group (TIME) -->

      <div class="col-xs-3 form-group">
        <div class="row">
          <select th:field="*{services[__${status.index}__].serviceType}" id="service-type" tabindex="2" class="form-control input-sm" data-toggle="tooltip"
            data-placement="top" th:title="#{schedule.service.tooltip.service_type}">
            <option value="" th:label="#{schedule.service.service_type.select}"></option>
            <option th:each="sType : ${serviceTypes}" th:value="${sType.id}" th:text="${sType}" th:attr="duration=${sType.duration}"></option>
          </select>
          <span th:each="err : ${#fields.errors('services[__${status.index}__].serviceType')}" class="error fs-xs" th:text="${err}"></span>
        </div>

        <div id="service-count" class="row input-sm quantity-control invisible">
          <div class="col-xs-4">
            <a class="reduce center-v">
              <span class="glyphicon glyphicon-minus"></span>
            </a>
          </div>
          <div class="col-xs-4">
            <span class="total"></span>
          </div>
          <div class="col-xs-4">
            <a class="add center-v">
              <span class="glyphicon glyphicon-plus"></span>
            </a>
          </div>
        </div>

      </div>
      <!-- .form-group (SERVICE TYPE) -->

      <div class="col-xs-3 form-group">
        <div class="row" data-toggle="tooltip" data-placement="top" th:title="#{schedule.service.tooltip.roles}">
          <select id="roles-select" th:field="*{services[__${status.index}__].roles}" multiple="multiple" class="input-sm no-padding" tabindex="3">
            <option th:each="branchRole : ${branchRoles}" th:value="${branchRole.key}" th:text="${branchRole.value}"></option>
          </select>
          <span th:each="err : ${#fields.errors('services[__${status.index}__].roles')}" class="error fs-xs" th:text="${err}"></span>
        </div>
        <div class="row service-roles-summary center-block">
          <ul>
            <li th:each="item : ${service.roles}" th:id="${item}" class="fs-xs" th:text="${branchRoles[__${item}__]}"></li>
          </ul>
        </div>
      </div>
      <!-- .form-group (ROLES) -->

      <div class="col-xs-3 form-group">
        <button th:if="${service.repeated}" type="button" class="btn btn-default" disabled="disabled" th:text="#{schedule.service.repetition.repeated}"></button>

        <div class="row" th:unless="${service.repeated}">
          <select th:field="*{services[__${status.index}__].repetitionType}" id="service-repetition-type" tabindex="4" class="form-control input-sm"
            data-toggle="tooltip" data-placement="right" th:title="#{schedule.service.tooltip.repetition_type}">
            <option th:each="rType : ${repetitionTypes}" th:value="${rType}" th:text="#{${rType.msgCode}}"></option>
          </select>
          <span id="rep-date-error" th:each="err : ${#fields.errors('services[__${status.index}__].repetitionType')}" class="error fs-xs"
            th:text="${err}"></span>
        </div>
        <div class="row" th:unless="${service.repeated}">
          <input th:field="*{services[__${status.index}__].repetitionDate}" id="service-repetition-date" type="text" tabindex="5" class="form-control input-sm invisible"
            th:placeholder="#{schedule.service.repetition_date.placeholder}" th:value="${service.repetitionDate}" data-toggle="tooltip"
            data-placement="right" th:title="#{schedule.service.tooltip.repetition_date}"></input>
          <span id="rep-date-error" th:each="err : ${#fields.errors('services[__${status.index}__].repetitionDate')}" class="error fs-xs"
            th:text="${err}"></span>
        </div>

      </div>
      <!-- .form-group (REPETITION) -->

    </div>
    <!-- .service-row -->

    <div class="row">
      <div class="col-xs-3 form-group">
        <div class="row">
          <div class="col-xs-4">
            <span class="glyphicon glyphicon-time"></span>
          </div>
          <div class="col-xs-8">
            <a href="javascript:newService()">
              <span class="service-add glyphicon glyphicon-plus"></span>
            </a>
          </div>
        </div>
      </div>
    </div>

  </div>
  <!-- .modal-body -->

  <div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal" th:text="#{modal.close}"></button>
    <button id="submit" type="submit" class="btn btn-success" tabindex="6" th:text="#{form.save}"></button>
  </div>
</form>

<script type="text/javascript" th:src="@{/js/forms.js}"></script>
<script type="text/javascript" th:src="@{/js/moment.js}"></script>
<script type="text/javascript" th:src="@{/js/bootstrap-timepicker.js}"></script>
<script type="text/javascript" th:src="@{/js/bootstrap-datepicker.js}"></script>
<script th:src="@{/js/multiple-select.js}"></script>
<script th:inline="javascript">
/*<![CDATA[*/
  var placeholder = /*[[#{schedule.service.roles.dropdown}]]*/ "Add worker";
  var txtSelectAll = /*[[#{schedule.service.roles.select_all}]]*/ "Select All";
  var txtSelectedAll = /*[[#{schedule.service.roles.all_selected}]]*/ "All selected";
/*]]>*/
</script>
<script type="text/javascript" th:src="@{/js/services.js}"></script>
