<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<title><spring:message code="signup.page.title" /></title>

<meta charset="utf-8"></meta>
<meta http-equiv="X-UA-Compatible" content="IE=edge"></meta>
<meta name="viewport" content="width=device-width, initial-scale=1"></meta>
<meta name="author" content="malkomich"></meta>
<meta name="description" content="Signup Page"></meta>

<link rel="icon" href="/favicon.ico"></link>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"></link>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css"></link>
<link href="/css/cover.css" rel="stylesheet" type="text/css"></link>
<link href="/css/signin.css" rel="stylesheet" type="text/css"></link>
<link href="/css/forms.css" rel="stylesheet" type="text/css"></link>
</head>

<body>

    <div class="site-wrapper">

        <div class="site-wrapper-inner">

            <div class="cover-container">

                <spring:message code="signup.form.title" var="formTitle" />
                <h2 class="text-center">${formTitle}</h2>

                <div class="inner cover">

                    <div class="form-box">
                        <form:form class="form-signin" action="signup" modelAttribute="signupForm" method="POST">

                            <div class="row">
                                <div class="col-sm-6 form-group">
                                    <spring:message code="firstname.placeholder" var="firstnamePlaceHolder" />
                                    <form:input path="firstName" autofocus="autofocus" id="firstname" tabindex="1"
                                        class="form-control mandatory" placeholder="${firstnamePlaceHolder}" />
                                    <span class="mandatory-mark glyphicon glyphicon-asterisk error"></span>
                                    <form:errors path="firstName" cssClass="error" />
                                </div>
                                <div class="col-sm-6 form-group">
                                    <spring:message code="lastname.placeholder" var="lastnamePlaceHolder" />
                                    <form:input path="lastName" id="lastname" tabindex="2"
                                        class="form-control mandatory" placeholder="${lastnamePlaceHolder}" />
                                    <span class="mandatory-mark glyphicon glyphicon-asterisk error"></span>
                                    <form:errors path="lastName" cssClass="error" />
                                </div>
                            </div>

                            <div class="row">
                                <div class="form-group col-sm-12">
                                    <spring:message code="email.placeholder" var="emailPlaceHolder" />
                                    <form:input path="email" id="email" tabindex="3" class="form-control mandatory"
                                        placeholder="${emailPlaceHolder}" />
                                    <span class="mandatory-mark glyphicon glyphicon-asterisk error"></span>
                                    <form:errors path="email" cssClass="error" />
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-6 form-group">
                                    <spring:message code="country.label" var="countryLabel" />
                                    <label for="country">${countryLabel}:</label>

                                    <form:select path="countryCode" id="country" tabindex="4" class="form-control">
                                        <spring:message code="country.select.header" var="countrySelect" />
                                        <form:option value="" label="${countrySelect}" />
                                        <form:options items="${countryItems}" />
                                    </form:select>
                                    <form:errors path="countryCode" cssClass="error" />
                                </div>
                                <div class="col-sm-6 form-group">
                                    <spring:message code="city.label" var="cityLabel" />
                                    <label for="city">${cityLabel}:</label>

                                    <form:select path="cityId" id="city" tabindex="5" class="form-control">

                                        <spring:message code="city.options.empty" var="cityOptionsEmptyTag" />
                                        <form:option id="cityEmptyHeader" style="display: none;" value=""
                                            label="${cityOptionsEmptyTag}" />

                                        <spring:message code="city.select.header" var="citySelect" />
                                        <form:option id="cityNotEmptyHeader" style="display: none;" value=""
                                            label="${citySelect}" />

                                    </form:select>
                                    <form:errors path="cityId" cssClass="error" />
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-6 form-group">
                                    <spring:message code="zipcode.placeholder" var="zipcodePlaceHolder" />
                                    <form:input path="zipCode" id="zipcode" tabindex="6" type="tel" value=""
                                        class="form-control" placeholder="${zipcodePlaceHolder}" />
                                    <form:errors path="zipCode" cssClass="error" />
                                </div>
                                <div class="col-sm-6 form-group">
                                    <spring:message code="phone.placeholder" var="phonePlaceHolder" />
                                    <form:input path="phone" id="phone" tabindex="7" type="tel" value=""
                                        class="form-control" placeholder="${phonePlaceHolder}" />
                                    <form:errors path="phone" cssClass="error" />
                                </div>
                            </div>

                            <div class="row">
                                <div class="form-group col-sm-12">
                                    <spring:message code="password.placeholder" var="passwordPlaceHolder" />
                                    <form:input path="password" id="password" tabindex="8" type="password"
                                        class="form-control mandatory" placeholder="${passwordPlaceHolder}" />
                                    <span class="mandatory-mark glyphicon glyphicon-asterisk error"></span>
                                    <form:errors path="password" cssClass="error" />
                                </div>
                            </div>

                            <div class="row">
                                <div class="form-group col-sm-12">
                                    <spring:message code="passwordConfirm.placeholder" var="passConfirmPlaceHolder" />
                                    <form:input path="confirmedPassword" id="confirmedPassword" tabindex="9"
                                        type="password" class="form-control mandatory"
                                        placeholder="${passConfirmPlaceHolder}" />
                                    <span class="mandatory-mark glyphicon glyphicon-asterisk error"></span>
                                    <form:errors path="confirmedPassword" cssClass="error" />
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="col-sm-8">
                                        <spring:message code="signup.info" var="signupInfo" />
                                        <p>${signupInfo}</p>
                                    </div>
                                    <div class="col-sm-3" style="float: right">
                                        <spring:message code="signup.submit" var="signupSubmit" />
                                        <button id="submit" type="submit" class="btn btn-primary" tabindex="10">${signupSubmit}</button>
                                    </div>
                                </div>
                            </div>
                        </form:form>

                    </div>
                    <div class="footnote">
                        <span class="glyphicon glyphicon-asterisk error"></span>
                        <spring:message code="mandatory.info" var="mandatoryInfo" />
                        <span class="error">${mandatoryInfo}</span>
                    </div>

                </div>
                <spring:message code="signup.logintip.label" var="loginLabel" />
                <spring:message code="signup.logintip.link" var="loginLink" />
                <div class="login-tip" style="border-top: 1px solid #888;">
                    ${loginLabel}<a href="/login"><b>${loginLink}</b></a>
                </div>

                <jsp:include page="include/footer.jsp" />
            </div>

        </div>
    </div>

    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <script type="text/javascript" src="/js/forms.js"></script>
</body>
</html>
